<div class="app-container pt-4 pb-4" *ngIf="!error_message; else error">
  <div *ngIf="person">
    <h1 class="font-secondary">{{person.name}}</h1>
    <div class="pill">
      <p>{{person.known_for_department}}</p>
    </div>
    <div class="person-info">
      <img 
        class="person-img"
        [src]="service.getActorProfilePathUrl(person.profile_path)" 
        [title]="person.name" />
      <div class="info">
        <p *ngIf="person.birthday || person.place_of_birth">
          Born <span *ngIf="person.birthday">{{person.birthday | date}}</span> 
          <span *ngIf="person.place_of_birth"> in {{person.place_of_birth}}</span>
        </p>
        <p *ngIf="person.deathday">Death: {{person.deathday | date}}</p>
        <p class="pt-4">{{person.biography}}</p>
      </div>
    </div>

    <!-- Movie credits -->
    <app-person-credits
      type="movies"
      [personId]="person.id"></app-person-credits>

    <!-- TV show credits -->
    <app-person-credits
      type="tv"
      [personId]="person.id"></app-person-credits>

  </div>
</div>

<ng-template #error class="app-container d-flex justify-content-center">
  <p class="text-center">{{error_message}}</p>
</ng-template>