@import "../../variables.scss";

.pill {
  font-weight: 500;
  border-radius: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: $color-font;
  margin-inline: 0.2rem;
  width: fit-content;

  p {
    margin: 0.4rem;
  }

  &:hover {
    background-color: rgba($color-primary-light, 0.5);
  }
}

.info {
  padding-inline: 1rem;
}

.person-img {
  height: fit-content;
}