@import "../../variables.scss";

.header {
  background-color: $color-primary-dark;
  padding: $padding;

  &--title {
    color: $color-secondary;
    font-weight: 600;
    font-size: $font-size-lg;
    margin: 0;
    text-decoration: none;
  }
}