@import "../../variables.scss";

.header {
  background-color: $color-primary-dark;
  padding: $padding;

  &--menu-btn {
    margin: 0;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &--title {
    color: $color-secondary;
    font-weight: 600;
    font-size: $font-size-lg;
    margin: 0;
    text-decoration: none;
  }
}