<div>
  <div class="header">
    <div class="header--left">
      <p (click)="openMenu()" class="header--menu-btn">
        <fa-icon [icon]="faBarsIcon"></fa-icon> 
      </p>
    </div>
    <div class="header--middle">
      <a href="/" class="header--title">MovieWatch</a>
    </div>
    <form (submit)="onSearch($event)" class="header--right">
      <input 
        	type="text" 
          name="search-term"
          class="form-control" 
          placeholder="Search" 
          [(ngModel)]="searchTerm"/>
      <button (click)="onSearch()" type="button" class="btn btn-secondary">
        <fa-icon [icon]="faSearchIcon"></fa-icon> 
      </button>
    </form>
  </div>
  <app-navigation-menu
    (onMenuClose)="openMenu()"
    [menuOpen]="menuOpen"></app-navigation-menu>
</div>