<div class="cast-section">
  <div class="cast-section--cast">
    <h3 class="text-center">Cast</h3>
    <ul *ngIf="cast && cast.length > 0; else noCast">
      <app-cast-member 
        *ngFor="let castMember of cast"
        [person]="castMember"></app-cast-member>
    </ul>
    <ng-template #noCast>
      <div class="d-flex justify-content-center">
        <p>No cast members</p>
      </div>
    </ng-template>
  </div>
  <div class="cast-section--cast">
    <h3 class="text-center">Crew</h3>
    <ul *ngIf="crew && crew.length > 0; else noCrew">
      <app-cast-member 
        *ngFor="let crewMember of crew"
        [person]="crewMember"></app-cast-member>
    </ul>
    <ng-template #noCrew>
      <div class="d-flex justify-content-center">
        <p>No crew members</p>
      </div>
    </ng-template>
  </div>
</div>