<div class="genre-page">
  <div *ngIf="!noResults; else noMovies">
    <h1 class="genre-page--title">{{genreName}}</h1>
    <div>
      <form 
        [formGroup]="sortByForm" 
        (submit)="onSortBySelect()">
        <label for="select-sort-by">Sort by</label>
        <select 
          name="select-sort-by"
          class="form-select w-auto"
          (change)="onSortBySelect()"
          formControlName="sortBySelect">
          <option
            *ngFor="let opt of sortByOptions"
            [value]="opt.key">{{opt.value}}</option>
        </select>
      </form>
    </div>
    <ul class="genre-page--list" *ngIf="type === 'movies'">
      <app-movie-card
        *ngFor="let movie of result"
        [movie]="movie"></app-movie-card>
    </ul>
    <ul class="genre-page--list" *ngIf="type === 'tv'">
      <app-tv-show-card
        *ngFor="let show of result"
        [tvShow]="show"></app-tv-show-card>
    </ul>
    <app-pagination
      (pageChange)="onPageChange($event)"
      [current_page]="current_page"
      [total_pages]="total_pages"></app-pagination>
  </div>
  <ng-template #noMovies>
    <div class="d-flex justify-content-center align-items-center">
      <p>We could not find any movies matching the given category.</p>
    </div>
  </ng-template>
</div>