@import "../../variables.scss";

.person-card {
  margin: 0.2rem;
  list-style: none;
  cursor: pointer;
  transition: $transition-time;

  &--img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

  &--name {
    font-weight: 500;
    margin: 0;
    margin-top: 0.5rem;
  }

  &--info {
    width: 200px;
  }

  &:hover {
    color: rgba($color-font, 0.5);
  }

}