<div class="nav-menu" [ngStyle]="{'width': (menuOpen) ? '100%' : '0%'}">
  <div class="nav-menu--content">
    <div class="d-flex justify-content-end">
      <p (click)="closeMenu()" class="nav-menu--close-btn">
        <fa-icon [icon]="faTimesIcon"></fa-icon>
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <div>
        <p class="nav-menu--title">Categories</p>
        <div class="nav-menu--menu">
          <div class="nav-menu--col">
            <div class="nav-menu--item">
              <fa-icon class="nav-menu--item-icon" [icon]="faHomeIcon"></fa-icon>
              <div>
                <a
                  class="nav-menu--item-title"
                  (click)="closeMenu()" 
                  routerLink="/">
                  Home
                </a>
              </div>
            </div>
            
            <div class="nav-menu--item">
              <fa-icon class="nav-menu--item-icon" [icon]="faFilmIcon"></fa-icon>
              <div>
                <a 
                  class="nav-menu--item-title"
                  (click)="closeMenu()" 
                  routerLink="/movies">
                  Movies
                </a>
                <ul>
                  <li 
                    class="nav-menu--sublist-item"
                    *ngFor="let genre of movieGenres">
                    <a (click)="closeMenu()" [routerLink]="['/movies/genre', {id: genre.id, name: genre.name}]">
                      {{genre.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="nav-menu--col">

            <div class="nav-menu--item">
              <fa-icon class="nav-menu--item-icon" [icon]="faTvIcon"></fa-icon>
              <div>
                <a
                  class="nav-menu--item-title"
                  (click)="closeMenu()" 
                  routerLink="/tv">
                  TV Shows
                </a>
                <ul>
                  <li 
                    class="nav-menu--sublist-item"
                    *ngFor="let genre of tvGenres">
                    <a (click)="closeMenu()" [routerLink]="['/tv/genre', {id: genre.id, name: genre.name}]">
                      {{genre.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
      
            <div class="nav-menu--item">
              <fa-icon class="nav-menu--item-icon" [icon]="faUserFriendsIcon"></fa-icon>
              <a 
                class="nav-menu--item-title"
                (click)="closeMenu()" 
                routerLink="/people">
                People
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
