<div class="nav-menu" [ngStyle]="{'width': (menuOpen) ? '100%' : '0%'}">
  <div class="nav-menu--content">
    <div class="d-flex justify-content-end">
      <p (click)="closeMenu()" class="nav-menu--close-btn">
        <fa-icon [icon]="faTimesIcon"></fa-icon>
      </p>
    </div>
    <p class="nav-menu--title">Categories</p>
    <div class="nav-menu--items">
      <a href="/" class="nav-menu--item">Movies </a>
      <a href="/tv" class="nav-menu--item">TV Shows</a>
      <a href="/people" class="nav-menu--item">Actors</a>
    </div>
  </div>
</div>
