@import "../../../variables.scss";

.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: $color-primary-light;

  &--close-btn {
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &--content {
    padding: 2rem;
  }

  &--title {
    font-size: $font-size-lg;
    margin: 0;
  }

  &--menu {
    display: flex;
  }

  &--col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &--item {
    display: flex;
    padding: 0.3rem;
    transition: $transition-time;
    border-radius: 1rem;

    &:hover {
      background-color: $color-primary;
    }
  }

  &--item-icon {
    margin-right: 0.5rem;
    color: $color-secondary;
  }

  &--item-title {
    text-decoration: none;
    color: $color-font;
    font-weight: 500;
  }

  &--sublist-item {
    list-style: none;
    transition: $transition-time;

    a {
      text-decoration: none;
      color: $color-font;
    }

    &:hover {
      background-color: $color-primary-light;
    }
  }
}