<div class="movie-page app-container">
  <div *ngIf="movie; else movie_not_found">
    <h1 class="movie-page--title">{{movie.title}}</h1>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <p>{{movie.release_date | date}}</p>
        <p class="ms-2">{{movie.original_language |uppercase}}</p>
      </div>
      <p class="movie-page--rating">
        <fa-icon [icon]="faStarIcon"></fa-icon> 
        <span class="vote-avg">{{movie.vote_average}}</span>
        <span class="vote-max">/10</span> 
        ({{movie.vote_count}} votes)
      </p>
    </div>
    <div>
      <ul class="movie-page--genres">
        <li 
          (click)="onGenreClick(genre)"
          *ngFor="let genre of movie.genres"
          class="movie-page--genre">
          <p>{{genre.name}}</p>
        </li>
      </ul>
    </div>
    <div 
      *ngIf="movie.videos.results.length > 0"
      class="movie-page--trailer-container">
      <iframe 
        class="movie-page--trailer"
        [src]="getTrailerURL() | safe"></iframe>
    </div>
    <div class="pt-4">
      <div class="d-flex">
        <div>
          <p>{{movie.tagline}}</p>
          <p>{{movie.overview}}</p>
        </div>
        <img [src]="service.getMovieBackdropPathUrl(movie)" />
      </div>
      <div>
        <div class="d-flex justify-content-between">
          <h2>Similar videos</h2>
          <h2>Recommended videos</h2>
          <h2>Videos</h2>
          <h2>Images</h2>
        </div>
        <!-- <iframe 
          *ngFor="let video of movie.videos.results"
          [src]="getVideoURL(video) | safe"></iframe> -->
      </div>
    </div>
  </div>
  <ng-template #movie_not_found>
    <div class="d-flex justify-content-center align-items-center">
      <p>{{error_message}}</p>
    </div>
  </ng-template>
</div>