@import "../../../../variables.scss";

.episode {
  display: flex;
  transition: $transition-time;
  padding: 1rem;

  &--img-container {
    width: 200px;
  }

  &--img {
    height: 113px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
  }

  &--info {
    padding-left: 1rem;
    width: 100%;
  }

  &:hover {
    background-color: $color-primary-light;
  }
}

@media screen and (max-width: 750px) {
  .episode {
    padding: 0.5rem;

    &--img-container {
      width: 100px;
    }

    &--img {
      width: 100px;
      height: 60px;
    }

    &--overview {
      display: none;
    }
  }
}