<div class="other-page">
  <div *ngIf="!error_message; else noMovies">
    <h1 class="other-page--title">{{title.split("_").join(" ") | capitalize}}</h1>
    <ul class="other-page--list">
      <app-tv-show-card
        *ngFor="let show of shows"
        [tvShow]="show"></app-tv-show-card>
    </ul>
    <app-pagination
      (pageChange)="onPageChange($event)"
      [current_page]="current_page"
      [total_pages]="total_pages"></app-pagination>
  </div>

  <ng-template #noMovies>
    <div class="d-flex justify-content-center align-items-center">
      <p>{{error_message}}</p>
    </div>
  </ng-template>
</div>