<div>
  <ul class="genre-list d-flex justify-content-between">
    <li
      class="genre-list--item" 
      *ngFor="let genre of genres">
      <p>{{genre.name}}</p>
    </li>
  </ul>
  <div class="main-page">
    <div>
      <h1>Upcomming</h1>
      <div class="d-flex movie-carousel">
        <app-movie-card
          *ngFor="let movie of upcomingMovies"
          [movie]="movie">
        </app-movie-card>
      </div>
    </div>
    <div>
      <h1>Now Playing</h1>
      <div class="d-flex movie-carousel">
        <app-movie-card
          *ngFor="let movie of nowPlayingMovies"
          [movie]="movie">
        </app-movie-card>
      </div>
    </div>
    <div>
      <h1>Popular</h1>
      <div class="d-flex movie-carousel">
        <app-movie-card
          *ngFor="let movie of popularMovies"
          [movie]="movie">
        </app-movie-card>
      </div>
    </div>
    <div>
      <h1>Top rated</h1>
      <div class="d-flex movie-carousel">
        <app-movie-card
          *ngFor="let movie of topRatedMovies"
          [movie]="movie">
        </app-movie-card>
      </div>
    </div>
  </div>
</div>