@import "../../variables.scss";

.genre-list {
  padding-inline: 1rem;
  background-color: $color-secondary;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  &--item {
    float: left;
    list-style: none;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      p {
        color: $color-font;
      }
    }
  
    p {
      margin: 0;
      padding: 0.3rem;
      color: $color-primary;
      font-weight: 500;
      transition: $transition-time;
    }
  }
}

@media screen and (max-width: 750px) {
  .genre-list {
    display: none;
  }
}