@import "../../variables.scss";

.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: $color-primary-light;

  &--close-btn {
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &--content {
    padding: 2rem;
  }

  &--title {
    font-size: $font-size-lg;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &--item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    p {
      margin: 0;
      padding: 0.3rem;
    }
  }
}