@import "../../../../variables.scss";

.cast-credit {
  list-style: none;
  transition: $transition-time;

  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }

  &--img {
    height: 120px;
    width: 80px;
    object-fit: cover;
  }

  &--info {
    width: 100%;
    padding: 0.5rem;
  }

  &--rating {
    font-weight: 600;
    margin: 0;

    fa-icon {
      color: $color-secondary;
    }
  }
}