@import "../../../../variables.scss";

.crew-credit {
  list-style: none;
  transition: $transition-time;

  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }

  &--img {
    height: 120px;
    width: 80px;
    object-fit: cover;
  }

  &--info {
    width: 100%;
    padding: 0.5rem;
  }
  
  &--rating {
    font-weight: 600;
    margin: 0;

    fa-icon {
      color: $color-secondary;
    }
  }
}

@media screen and (max-width: 750px) {
  .crew-credit {
    &--rating {
      white-space: nowrap;
    }

    &--release-date {
      display: none;
    }

    &--department {
      display: none;
    }

    &--job {
      display: none;
    }

    &--episodes {
      display:none;
    }
  }
}