@import "../../../variables.scss";

.seasons {
  &--seasons-container {
    padding-inline: 0;
    margin-inline: 0.5rem;
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
}