/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

app-root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $font-size-md;
  color: $color-font;
}

body {
  margin: 0;
  background-color: $color-primary;
}

.app-container {
  max-width: 70%;
  margin: auto;
}