<div class="app-container">
  <div *ngIf="movies && movies.results.length > 0" class="pb-3">
    <h1 class="search-result--title">Movies</h1>
    <a class="search-result--see-all-link" [routerLink]="['/search/all', {q: search_term, type: 'movie'}]">
      See all the movies ({{movies.total_results}}) <fa-icon [icon]="faRightIcon" class="font-secondary"></fa-icon> 
    </a>
    <div class="search-result--movie-container">
      <app-movie-card
        *ngFor="let movie of movies.results.slice(0, 10)"
        [movie]="movie">
      </app-movie-card>
    </div>
  </div>
  
  <div *ngIf="tvShows && tvShows.results.length > 0" class="pb-3">
    <h1 class="search-result--title">TV Shows</h1>
    <a class="search-result--see-all-link" [routerLink]="['/search/all', {q: search_term, type: 'tv'}]">
      See all the TV shows ({{tvShows.total_results}}) <fa-icon [icon]="faRightIcon"></fa-icon> 
    </a>
    <div class="search-result--movie-container">
      <app-tv-show-card
        *ngFor="let show of tvShows.results.slice(0, 10)"
        [tvShow]="show"></app-tv-show-card>
    </div>
  </div>

  <div *ngIf="people && people.results.length > 0" class="pb-3">
    <h1 class="search-result--title">People</h1>
    <a class="search-result--see-all-link" [routerLink]="['/search/all', {q: search_term, type: 'person'}]">
      See all the people ({{people.total_results}}) <fa-icon [icon]="faRightIcon" class="font-secondary"></fa-icon> 
    </a>
    <div class="search-result--movie-container">
      <app-person-card
        *ngFor="let person of people.results.slice(0, 10)"
        [person]="person"></app-person-card>
      </div>
  </div>
</div>